
hr{
    margin: 0px 50px;
}
/*styles for top section of the web*/
.top-image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 15px;
}
.top-sm{
    color: red;
}
.top-img img{
    width: 100%;
 
}

.top-text{
    width: 50%;
}
.top-text p{
    width: 100%;
}
.top-text h1{
    font-size: 30px;
    font-family: corbel
}
.top-text h2{
    font-size:25px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.top-btn{
    background-color: rgba(0, 255, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 30%;
    color: black;
    font-weight: bolder;

}


/*styles of the top service section*/
.services i{
    font-size: 30px;
}
.top-services-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: rgba(244, 196, 196, 0.1);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    
}

.top-services-col2{
   display: grid;
   grid-template-rows: repeat(1, 1fr);
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   width: 80%;
   margin-left: 20px;
   padding: 10px;

}
.services h3{
    font-weight: 900;
    font-size: 17px;
    font-family: corbel;

}
.services p{
    font-size: 15px;
}

/*styles of the product container*/
.product-wrapper{
 
}
.product-container{
    display: flex;
    align-items: center;
    justify-content: center;


    
}
.product{
   

}
.product-details p {
 text-align: center;
 background-color: rgba(0, 255, 0, 0.4);
 border-radius: 10px;
 padding: 10px;
 margin: 10px;
 font-size: 15px;

   
}
.product-details p a{
    text-decoration: none;
    color: black;  
}
.product img{
    width: 100%;
    height: 250px;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 10px;
    
    
}
.our-cat{
    text-align: center;
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
  
}
.product-wrapper h3, .our-cat{
    text-align: center;
    font-size: 35px;
    font-family: corbel;
    font-weight: lighter;
  
}
.product-wrapper{
    margin-top: 50px;
}



/*styles for the middle text*/
.middle-text {
    background-color: beige;
    width: 100%;
   

   

}
.middle-text p{
    text-align: justify;
    font-size: 20px;
    width: 50%;
    margin: auto;
    padding: 30px;
  
}
/*styles for the bottom side-side text ..image-text paragraph*/
.image-txt-row{
    display: flex;
    margin-top: 10px;
    padding: 10px;

}
.image-txt-col{
    width: 50%;

}
.image-txt-col{
    width: 50%;
    height: auto;
    object-fit: cover;
}


.txt-col{
    width: 50%;
}
.txt-col p{
    text-align: justify;
    margin-top: 50px;

}
.txt-col h3{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
